*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#nav-bar ul{
    display: flex;
    gap: 2rem;
    
}

li{
    list-style-type: none;
}